# Server
PORT="3000"
BASE_URL="http://localhost:3000"

# MySQL
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="password"
DB_NAME="url_shortener_db"

# MongoDB
MONGODB_URL="mongodb://localhost:27017/url_shortener"

# Redis
REDIS_URL="redis://localhost:6379"